<link rel="stylesheet" href="/navbar.css">
<nav>
    <div class="nav-left"> <!-- Seção esquerda da navbar -->
        <ul>
            <li><a href="/"><img src="/images/logo_greenflow.png" width="50px" height="auto"></a></li>
            <li>Rota 1</li>
            <li>Rota 2</li>
            <li>Rota 3</li>
        </ul>
    </div>

    <div class="nav-right"> <!-- Seção direita da navbar -->
        <ul>
            <li><i class="fa-solid fa-user"></i> Usuário</li>
            <li><i class="fa-solid fa-gear"></i></li>
            <li><i class="fa-solid fa-right-from-bracket"></i></li>
        </ul>
    </div>
</nav>