
/* Acima da tabela */
#over-main-container {
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;
    width: 84%;
}

#over-main-container h1 {
    font-size: 3.5rem
}

#search-container {
    margin-top: 2vh;
    width: 35%;
}

#search-container i {
    margin-left: 1vw;
    font-size: 1.5rem
}

#search-container input {
    width: 80%;
    padding: 0.7vh 1vw;
    padding-right: 5vw;
    margin: 0 1vw;
    font-size: 1.5rem;
    outline: none;
    border: 2px solid white;
    border-radius: 8px;
}

#search-container input:focus{
    border: 2px solid green
}

#below-search {
    width: 31%;
    text-align: end;
    margin-top: 1vh;
}

#below-search span {
    font-size: 1.3rem;
    margin-right: 0.5vw;
}

#table-options {
    display: flex;
    width: 100%;
    height: 3vh;
    margin-top: 1vh;
    justify-content: space-between;
}

#table-icons-right {
    display: flex;
    gap: 0.8vw;
    align-items: center;
    margin-right: 2vw;
}

#table-icons-right i {
    font-size: 1.8rem;
    cursor: pointer;
}

#table-icons-left {
    display: flex;
    align-items: center;
    margin:0 1.7vw;
}

#table-icons-left input{
    transform: scale(1.5);
    cursor: pointer;
}

#table-icons-left i {
    margin-left:0.7vw;
    transform: scale(1.6);
    cursor: pointer;
}

/* Container da sidebar e do conteúdo principal */
.content-container {
    display: flex;
    justify-content: space-between;
    margin: 3vh 0;
    height: 100%;
    width: 100%;
}


/* Conteúdo Principal */
.main-content{
    width: 100%;
    padding: 0 1vw;
}

.table-container th, td, td i{
    font-size: 2rem;
}

.table-container table {
    border-spacing: 0;
    width: 100%;
}

.table-container th {
    text-align: start;
}

#th1 {
    width: 5%;
}

#th2 {
    width: 10%;
}

#th4 {    
    width: 10%
}

#th5 {
    width: 10%;
}

#th6 {
    width: 8%;
}

.table-container td {
    padding: 0.8vh 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.193);
}

.td1 {
    text-align: center;
}

.td1 input {
    zoom:1.5
}

/* Side Bar Direita */
aside {
    display: block;
    width: 15%;
    flex-shrink: 0;
}

#aside-wrapper {
    position:absolute;
    top:5%;
    bottom:0;
    right: 0;
    width: 15%;
    padding: 1vh 1vw;
    background-color: var(--light-gray);
}

aside div {
    display: flex;
    flex-direction: column;
}

#aside-wrapper button {
    font-size:1.6rem;
    margin-top: 1.5vh;
    padding: 1vh 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#btn-create-product {
    background-color: rgb(54, 164, 54);
    color: white;
    font-weight: 900;
}

#btn-create-product:hover {
    background-color:rgb(22, 112, 22)
}

#btn-delete-product {
    background-color: rgb(215, 59, 59);
    color: white;
    font-weight: 900;
}

#btn-delete-product:hover {
    background-color: rgb(158, 28, 28);
}

.utils-button {
    transition: all ease-in-out 50ms;
}

.utils-button:hover {
    background-color: rgba(255, 255, 255, 0.492);
    font-weight: 700;
}